ion-header {
    padding: 0px 0;
    border-bottom: 1px solid red;
  
    ion-toolbar {
      --border-width: 0;
      --min-height: auto;
      min-height: auto;
      --padding-bottom: 0;
      --padding-top: 0;
      --padding-end: 0;
      --padding-start: 0;
  
      ion-row {
        align-items: center;
  
        ion-col {
          line-height: 0;
  
          ion-buttons {
            --min-height: auto;
            min-height: auto;
  
            ion-button {
              --padding-end: 0;
              --min-height: auto;
              min-height: auto;
              --padding-start: 0;
              height: auto;
              margin: 0 0 0 15px;
              --color: #262626;
            }
          }
        }
      }
    }
  }
  