.top__toolbar {
    margin-top: 60px;
  }
  @font-face {
    font-family: Freight-sans;
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2053557/Freight%20Sans%20Medium.otf');
  }
  
  $gray: #d8d8d8;
  $gray-dark: #444;
  $blue: #3797F0;
  
  $device-width: 375px;
  $bottom-bar-height: 50px;
  
  body, button {
    font-family: Freight-sans, sans-serif;
  }
  
  body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  button {
    border: 0;
    outline: 0;
    background: transparent;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    margin: 0;
    padding-bottom: $bottom-bar-height;
  }
  
  @mixin hide-scrollbar {
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
      }  
  }
  
  .stats {
    padding: 0 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    &__img-holder {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 1px solid $gray;
      background: center / 125% no-repeat;
    }  
    &__data {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      &__point {
        font-family: sans-serif;
        &__value {
          font-size: 16px; 
          font-weight: 600;
        }
        &__description {    
          font-weight: 300;
          font-size: 14px;
          margin-top: 2px;
        }
      }
    }
  }
  
  .description {
    padding: 0 15px;
    h2 {
      font-size: 18px;        
      margin: 0;
      margin-top: 16px;
      padding: 0;
    }
    p {
      margin-top: 4px;
      color: #444;        
    }  
    a {
      margin-top: 2px;
      color: #0D3A6B;
    }
  }
  
  .actions {
    padding: 0 15px;
    margin-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 34px;
    grid-column-gap: 6px;
    &__btn {
      font-size: 15px;    
      border-radius: 4px;
      border: 1px solid $gray;
      height: 32px;
      display: block;
      width: 100%;
      &--icon {
        display: flex;
        i {
          margin: auto;
          font-size: 16px;
        }
      }
      &--active {
        background: $blue;
        border: 1px solid $blue;
        color: white;
      }
    }
  }
  
  .stories {
    margin-top: 14px;
    padding: 0 10px;
    white-space: nowrap;
    overflow-x: auto;
    @include hide-scrollbar;
    &__single {   
      display: inline-block;   
      &__img-holder {           
        display: inline-block;    
        border-radius: 50%;
        border: 1px solid $gray;
        padding: 3px;
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        margin-right: 12px;
        &__inner {
          border-radius: 50%;
          border: 1px solid $gray;
          width: 60px;
          height: 60px;          
          background: center / cover no-repeat;        
        }
      }
      &__description {
        text-align: center;     
        font-size: 14px;
        margin-top: 2px;
        color: $gray-dark;
      }
    }
  }
  
  .tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid $gray;
    margin-top: 20px;
    &__btn {
      display: flex;
      padding-top: 6px;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
      &__icon {
        margin: auto;
        max-width: 22px;
      }
      &--active {
        border-bottom: 1px solid $gray-dark;
      }
    }
  }
  
  .grid {
    $grid-col-amount: 3;
    display: grid;
    grid-template-columns: repeat(#{$grid-col-amount}, 1fr);
    grid-gap: 1px;
    &__photo {
      display: block;
      width: 100%;
      height: calc(#{$device-width} / #{$grid-col-amount});
      background: center / cover no-repeat;    
    }
  }