<ion-header>  
  <ion-toolbar>  
    <ion-title>Modal Content</ion-title>  
    <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>  
  </ion-toolbar>  
</ion-header>  
  
<ion-content>  
  <ion-list>  
    <ion-item>  
      <ion-avatar slot="start">  
       
      </ion-avatar>  
      <ion-label>  
        <h2>Peter</h2>  
        <p>Hi! JavaTpoint is a best Tutorial WebSite.</p>  
      </ion-label>  
    </ion-item>  
    <ion-item>  
      <ion-avatar slot="start">  

      </ion-avatar>  
      <ion-label>  
        <h2>Frodo</h2>  
        <p>Hi! This is a Great Ionic 4 Tutorial.</p>  
      </ion-label>  
    </ion-item>  
    <ion-item>  
      <ion-avatar slot="start">  
        
      </ion-avatar>  
      <ion-label>  
        <h2>Sam</h2>  
        <p>This is an example of Modal Controller.</p>  
      </ion-label>  
    </ion-item>  
  </ion-list>  
</ion-content>  